/* Modern Dark Theme for Swagger UI with Kitsune Accents */
:root {
  --primary-color: #F06D0F;
}

body {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

.swagger-ui .topbar {
  background-color: #000000 !important;
}

.swagger-ui .info .title,
.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table,
.swagger-ui .opblock-tag,
.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .tab li,
.swagger-ui .response-col_status,
.swagger-ui .response-col_links,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p,
.swagger-ui .table-thead-titles th,
.swagger-ui .parameter__name,
.swagger-ui .parameter__type,
.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__in,
.swagger-ui .model-title,
.swagger-ui .model {
  color: #e0e0e0 !important;
}

/* Accent color #F06D0F */
.swagger-ui .opblock.opblock-post {
    border-color: #F06D0F !important;
    background: rgba(240, 109, 15, 0.1) !important;
}
.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: #F06D0F !important;
}
.swagger-ui .btn.execute {
    background-color: #F06D0F !important;
    border-color: #F06D0F !important;
}

/* Replace Logo */
.swagger-ui .topbar-wrapper .link img {
    content: url('/images/kitsune.jpg') !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
