/* Swagger UI Dark Mode for Kitsune */
:root {
    --primary-color: #F06D0F;
}

/* Logo Replacement - Better compatibility */
.swagger-ui .topbar .link svg {
    display: none !important;
}

.swagger-ui .topbar .link::after {
    content: "KITSUNE";
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding-left: 50px;
    margin-left: 10px;

    background: url('/images/kitsune.jpg') no-repeat left center;
    background-size: 40px 40px;

    font-weight: bold;
    font-size: 18px;
}
